@model WeatherAPI.Models.HeadlineModel;

@{
    ViewData["Title"] = "Search for news";
}

<form method="post">
    <fieldset>
        <div class="search-city">
            <input type="text" class="form-control" name="query" placeholder="Search for news" />
            <input type="submit" value="Search" class="btn btn-primary search" />
        </div>
    </fieldset>
</form>

@if (Model != null)
{
    @foreach (var item in Model.Articles)
    {
        <div class="row row-center">
            <div class="news-card-container col-xs-12 col-md-6 col-centered">
                <div class="card">
                    <div class="card-body news-body">
                        <h2 class="news-title"><a href="@item.Url" target="_blank">@item.Title</a></h2>
                        <ul class="news-content">
                            <li class="author"><i class="fas fa-user-edit"></i> @item.Author</li>
                            <li class="source"><i class="fas fa-newspaper"></i> @item.Source.Name</li>
                            <li class="date"><i class="fas fa-clock"></i> @item.PublishedAt.ToLocalTime()</li>
                            <li class="image"><img src="@item.UrlToImage" class="news-photo" /></li>
                            <li class="description">@item.Description</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}